<div class="point-fields__container">
  <div class="point-fields__header">
    <h3 class="point-fields__label">Element fields</h3>
    <button mat-icon-button color="primary" aria-label="Resize"
      class="point-fields__toggle" (click)="onResize()">
      <mat-icon>photo_size_select_small</mat-icon>
    </button>
  </div>
  <div class="point-fields__formgroup">
    <button mat-icon-button color="primary" aria-label="Check element" *ngIf="issue.accept"
    class="icon--align">
      <mat-icon class="icon--green">check</mat-icon>
    </button>
    <p>{{issue._id}}</p>
    <p>[ {{issue.coordinates.lat.toFixed(3)}}, {{issue.coordinates.lng.toFixed(3)}} ]
    </p>
    <p>{{issue.discipline}}</p>
    <p>{{issue.subdiscipline}}</p>
    <button mat-icon-button color="primary" aria-label="Check element" *ngIf="!issue.accept"
    class="icon--align"
    (click)="onAccept()">
      Accept
    </button>
    <button mat-button (click)="onRemove()">Remove</button>
  </div>
  <div *ngIf="!issue.verification" class="button--center">
    <button mat-raised-button
    class="project-upload__button project-upload__button--background project-upload__button--confirm"
    (click)="setVerification('verified')">Verify</button>
  <button mat-raised-button
    class="project-upload__button project-upload__button--background project-upload__button--issue"
    (click)="setVerification('observation')">Observation</button>
  <button mat-raised-button
    class="project-upload__button project-upload__button--background project-upload__button--undefined"
    (click)="setVerification('undefined')">Undefined</button>
  </div>
</div>
