@import "../../../../../../styles/variables";

.point-fields__container {
  display: flex;
  flex-flow: column wrap;
}

.point-fields__header {
  display: flex;
  flex-flow: row wrap;
  background: $color--east-bay;
  justify-content: space-between;
}

.point-fields__label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: $color--hawkes-blue;
  margin-left: 2rem;
}

.point-fields__formgroup {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  color: white;
  /* margin-top: 4%; */
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.point-fields__toggle {
  align-self: center;
}

.icon--align {
  align-self: center;
  color : white;
}

.icon--green {
  color: green !important;
}

.button--center {
  align-self: center;
  margin-top: 5px;
}


.project-upload__button {
  opacity: 0.5;
  border-radius: 1px;
  width: 10em;
  height: 3.7em;
  margin: 0 1em 1em 0;
  background: none;
  border: none;
}

.project-upload__button--background {
  background-color: $color--hawkes-blue;
}

.project-upload__button--issue {
  border-bottom: 3px solid red;
}

.project-upload__button--confirm {
  border-bottom: 3px solid green;
}

.project-upload__button--undefined {
  border-bottom: 3px solid yellow;
}

.project-upload__button--color {
  color: white;
}
