<div class="sidebar-container">
  <div class="sidebar-row-container">
    <div class="sidebar__hide-container">
      <mat-icon svgIcon="close-sidebar" class="sidebar-icon" (click)="closeSidebar()"></mat-icon>
    </div>
    <mat-tab-group>
      <mat-tab label="Points">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let discipline of disciplines">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{pointsTab[discipline].length}}
                {{discipline}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let issue of pointsTab[discipline]"
              class="list-container">
              <mat-list-item
                (click)="selectedIssue(issue)">
                <p class="item">{{issue._id}}</p>
                <p class="item">{{issue.discipline}}</p>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="Issues">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let verification of verifications">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{issuesTab[verification].length}}
                {{issueRename[verification]}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let issue of issuesTab[verification]"
              class="list-container">
              <mat-list-item
                (click)="selectedIssue(issue)">
                <p class="item">{{issue._id}}</p>
                <p class="item">{{issue.discipline}}</p>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
      <mat-tab label="Accepted">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{(acceptedIssues | async).length}}
                Accepted
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let issue of (acceptedIssues | async)"
              class="list-container">
              <mat-list-item
                (click)="selectedIssue(issue)">
                <p class="item">ID: {{issue._id}}</p>
                <p class="item">DISCIPLINE: {{issue.discipline}}</p>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{(notAcceptedIssues | async).length}}
                Not Accepted
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list *ngFor="let issue of (notAcceptedIssues | async)"
              class="list-container">
              <mat-list-item
                (click)="selectedIssue(issue)">
                <p class="item">ID: {{issue._id}}</p>
                <p class="item">DISCIPLINE: {{issue.discipline}}</p>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
    <!-- <div class="sidebar__header">
    <p>Points</p>
    <p>Issues</p>
    <p>Others</p>
  </div>
  <div class="sidebar__points-view">

  </div> -->
  </div>
  <button type="submit" mat-raised-button *ngIf="(this.storeIssuesService.issuesObs$ | async).length > 0"
    class="verify-button project-upload__button--background button--width"
    [disabled]="(acceptedIssues | async).length !== issues.length" (click)="screenShot()">Finish</button>
</div>
