@import "../../../../styles/_variables.scss";

.sidebar-container {
  display: flex;
  flex-direction: column;
  background: $color--sidebar;
  height: 100%;
}

.sidebar-row-container {
  display: flex;
  flex-direction: row;
  background: $color--sidebar;
  height: 96%;
}

.sidebar__hide-container {
  height: 100%;
  display: flex;
  background: #0e114f;
}

.mat-tab-group {
  width: 92%;
}

.sidebar-icon {
  background-size: contain;
  height: 100px;
  align-self: center;
  cursor: pointer;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sidebar__points-view {
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item {
  margin-left: 20px;
}

::ng-deep .mat-expansion-panel-body {
  background: $color--sidebar-tab;
}

::ng-deep .mat-expansion-panel-header {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 24px;
  border-radius: inherit; */
  background: $color--sidebar;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
}

::ng-deep .mat-tab-labels,
.mat-tab-label,
.mat-tab-link {
  color: $color--sidebar;
  font-size: 16px;
  background-color: $color--sidebar-header;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: white;
  height: 5px;
}

::ng-deep .mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
  color: $color--sidebar-header;
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: $color--sidebar;
}

.mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background: $color--sidebar;
  color: $color--sidebar-header;
}

::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  color: $color--sidebar-header;
}

::ng-deep .mat-tab-header-pagination {
  background: azure;
}

.button--width {
  padding: 5px 45px;
}
