<div>
  <form [formGroup]="newProjectForm" (ngSubmit)="onSubmit()" class="project__container">
    <h1 class="project__label">Create a new Project</h1>

    <mat-form-field appearance="fill" class="project__form-field">
      <mat-label class="project__form-field--font">Plan ID</mat-label>
      <input
        matInput
        placeholder="Ex. 12345"
        type="text"
        formControlName="planId">
      <div *ngIf="planId.touched && planId.invalid">
        <mat-error *ngIf="planId.errors.required">Plan ID is required</mat-error>
        <mat-error *ngIf="planId.errors.shouldBeUniquePlanId">
            Plan ID is already taken
        </mat-error>
        <mat-error *ngIf="planId.errors.minlength">
          Plan ID should be minimum {{ planId.errors.minlength.requiredLength }} characters
        </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill" class="project__form-field">
      <mat-label class="project__form-field--font">Plan Name</mat-label>
      <input
        matInput
        type="text"
        formControlName="planName">
      <div *ngIf="planName.touched && planName.invalid">
        <mat-error *ngIf="planName.errors.required">Plan name is required</mat-error>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill" class="project__form-field">
      <mat-label class="project__form-field--font">Report ID</mat-label>
      <input
        matInput
        placeholder="Ex. 12345"
        type="text"
        formControlName="reportId">
      <div *ngIf="reportId.touched && reportId.invalid">
        <mat-error *ngIf="reportId.errors.required">Report ID is required</mat-error>
        <mat-error *ngIf="reportId.errors.shouldBeUniqueReportId">
          Report ID is already taken
        </mat-error>
        <mat-error *ngIf="reportId.errors.minlength">
          Report ID should be minimum {{ reportId.errors.minlength.requiredLength }} characters
        </mat-error>
      </div>
    </mat-form-field>


    <div class="upload-form__container">
      <app-file-upload formControlName="dxfFile" [fileType]="'.dxf'"></app-file-upload>
    </div>

    <section class="conversion-progress">
      <mat-progress-bar aria-label="progress" mode="determinate"
        value="{{uploadResponse.message}}"></mat-progress-bar>
    </section>  
    <div class="project-upload__container">
      <button type="button" mat-raised-button
        class="project-upload__button project-upload__button--color">Advanced</button>
      <button type="submit" mat-raised-button [disabled]="!!uploadResponse.message && !newProjectForm.valid"
        class="project-upload__button project-upload__button--background">Upload</button>
    </div>
  </form>
</div>
