@import "../../../../styles/variables";

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 2px !important;
  background-color: $color--east-bay;
  padding-left: 1.5em !important;
  padding-top: 0.4em !important;
}

.project-upload__container {
  display: -webkit-box;
  display: flex;
  /* margin: 7em 0 3em -2em; */
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}

.project-upload__button {
  opacity: 0.5;
  border-radius: 1px;
  width: 8em;
  height: 2.7em;
  margin: 0 1em 1em 0;
  background: none;
  border: none;
}

.project-upload__button--background {
  background-color: $color--hawkes-blue;
}

.project-upload__button--color {
  color: white;
}

.conversion-progress {
  display: flex;
  align-content: center;
  align-items: center;
  width: 70%;
  height: 2.86em;
  padding: 0;
  margin: 6px;
}

mat-error {
  font-weight: 100;
  font-size: 0.8em;
  letter-spacing: 1px;
}

