<ng-container *ngIf="selectedIssue$ | async; else noIssue">
  <ng-container *ngIf="isEditMode$ | async">
    <app-main-issue-edit [issue]="selectedIssue$ | async"
      (createElement)="onElementCreated($event)" (updateElement)="onElementUpdated($event)"></app-main-issue-edit>
  </ng-container>
  <ng-container *ngIf="!(isEditMode$ | async)">
    <app-observation-issue-view *ngIf="$any((selectedIssue$ | async)?.verification) !== 'verified'
    &&$any((selectedIssue$ | async)?.verification) !== 'undefined' && !!$any((selectedIssue$ | async)?.verification); else issueView"
      [issue]="selectedIssue$ | async"
      (toggleEditMode)="toggleEditMode()"
      (onDelete)="onElementDeleted($event)"
      (accept)="onElementAccepted($event)"
      (resize)="onResize()">
    </app-observation-issue-view>
    <ng-template #issueView>
      <app-issue-view
        [issue]=" selectedIssue$ | async" S
        (toggleEditMode)="toggleEditMode()"
        (onDelete)="onElementDeleted($event)"
        (updateElement)="onElementUpdated($event)"
        (accept)="onElementAccepted($event)"
        (resize)="onResize()">
      </app-issue-view>
    </ng-template>
  </ng-container>
</ng-container>
<ng-template #noIssue>
  <div class=" resize-bottom">
    <div class="point-fields__header">
      <h3 class="point-fields__label">Element fields</h3>
      <div class="container--resize-buttons">
        <button mat-icon-button color="primary" aria-label="Resize component"
        matTooltip="Resize Component"
        matTooltipPosition="above"
        matTooltipClass="rotate-tooltip"
        class="point-fields__toggle" (click)="onResize()">
        <mat-icon>photo_size_select_small</mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="Open minimap"
      matTooltip="Open Minimap"
      matTooltipPosition="above"
      matTooltipClass="rotate-tooltip"
      class="point-fields__toggle" (click)="onOpenMinimap()">
      <mat-icon>map</mat-icon>
    </button>
  </div>
    </div>
  </div>
  <div class="element-fields__unselected">
    <p>Tap on Elements to check tile</p>
  </div>
</ng-template>
