@import "../../../../../../styles/variables";

.element-fields__unselected {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.point-fields__header {
  display: flex;
  justify-content: space-between;
}
.point-fields__label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: $color--hawkes-blue;
  margin-left: 2rem;
}

.point-fields__toggle {
  align-self: center;
}

.container--resize-buttons {
  justify-self: flex-end;
  align-self: center;
}
