@import '../../../styles/variables';

.leaflet-ruler:hover {
  cursor: pointer;
  background-color: rgba($color--cloud-burst, 0.9);
  // background-image: white;
  /* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
}

.leaflet-ruler-clicked {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: white;
  border-color: chartreuse !important;
}

.leaflet-bar {
  //   background-color: #ffffff;
}

.leaflet-control {
  cursor: pointer;
}

.result-tooltip {
  background-color: white;
  border-width: medium;
  border-color: #de0000;
  font-size: smaller;
}

.moving-tooltip {
  background-color: rgba(255, 255, 255, .7);
  background-clip: padding-box;
  opacity: 0.5;
  border: dotted;
  border-color: red;
  font-size: smaller;
}

.plus-length {
  padding-left: 45px;
}

.rotate-tooltip {
  margin: -10px !important;
  margin-top: 8px !important;
  height: 13px !important;
  border-radius: 0 !important;
  border: 1px solid #e6e6e6  !important;
  color: #e6e6e6;
  background:  #333333;
}
