<form [formGroup]="fileIssueForm" (ngSubmit)="onSubmit()" class="point-fields__container">
  <div class="point-fields__header">
    <h3 class="point-fields__label">Element fields</h3>
    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon"
      class="point-fields__toggle" (click)="onToggle()">
      <mat-icon>photo_size_select_small</mat-icon>
    </button>
  </div>
  <div class="point-fields__formgroup" *ngIf="createdElement; else noElement">
    <mat-form-field appearance="fill" class="issue__form-field">
      <mat-label class="project__form-field--font">Discipline</mat-label>
      <mat-select formControlName="discipline">
        <mat-option *ngFor="let discipline of disciplines" [value]="discipline">
          {{discipline}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="issue__form-field">
      <mat-label class="project__form-field--font">Subdiscipline</mat-label>
      <mat-select formControlName="subdiscipline">
        <mat-option
          *ngFor="let subdiscipline of getSubdiscipline()"
          [value]="subdiscipline.subdiscipline_name">
          {{subdiscipline.subdiscipline_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-raised-button
      class="project-upload__button project-upload__button--background">{{insertOrUpdate}}</button>
  </div>
  <ng-template #noElement>
    <div class="element-fields__unselected">
      <p>Tap on Elements to check tile</p>
    </div>
  </ng-template>
</form>
