$color--deep-cove: #080940;
$color--cloud-burst: #22245e;
$color--hawkes-blue: #dae3fd;
$color--east-bay: #3B3E71;
$color--input-disabled: gainsboro;

$color--sidebar: #0e115c;
$color--sidebar-tab: #393e7e;
$color--sidebar-header: #dae3fd;
$color--sidebar-text: white;
