@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "./variables";

html,
body {
  height: 100%;
  background-color: $color--deep-cove;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.project__container {
  height: 32em;
  background-color: $color--cloud-burst;
  width: 32em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 black;
  border-radius: 7px;
  box-shadow: 0 17px 15px 0 rgba(1, 1, 32, 0.43);
}

.project__label {
  font-family: "Montserrat", sans-serif;
  font-size: 27px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: $color--hawkes-blue;
}

.project__form-field {
  display: block;
  width: 70%;
}

.project__form-field--font {
  opacity: 1;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: 0.52px;
  text-align: left;
  color: $color--hawkes-blue;
}

.upload-form__container {
  width: 70%;
  height: 2.86em;
  background-color: $color--east-bay;
  padding: 0.25em 0 0.25em 0 !important;
  display: flex;
  align-items: center;
}

.upload-form__button {
  opacity: 0.5;
  border-radius: 1px;
  background-color: $color--hawkes-blue;
  width: 8em;
  height: 2.7em;
  margin: 0 1em 0 0.5em;
}

.row-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.planning-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  flex-direction: column;
}

.my-label {
  color: blueviolet;
}

.bottom-container {
  display: -webkit-box;
  display: flex;
  background-color: $color--deep-cove;
  height: 30vh;
  position: absolute;
  bottom: 0;
  align-self: flex-start;
  align-self: center;
}

.define-issue {
  flex: 3;
  background-color: $color--cloud-burst;
}

.minimap {
  background-color: $color--cloud-burst;
  flex: 1;
  margin-left: 10px;
  width: 100vw;
  height: 280px;
}

.controls-container {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.ruler {
  height: 230px;
  position: absolute;
  left: 0;
  z-index: 1000;

}

.leaflet-bar {
  box-shadow: none;
}

.leaflet-bar a {
  background-color: rgba($color--cloud-burst, 0.6);
  color: white;
  width: 52px;
  height: 33px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: all 0.5s ease;
}

.leaflet-bar a:hover {
  background-color: rgba($color--cloud-burst, 1);
  color: white;
  width: 52px;
  height: 33px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
}
.leaflet-pm-actions-container {
  display: none !important;
}

.leaflet-control-attribution {
  display: none !important;
}

.loading-minimap {
  position: absolute !important;
  top: 40%;
  right: 10%;
}

.toggleElements {
  display: block !important;
  color: white;
  width: 52px !important;
  border-radius: 0 !important;
  height: 33px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  /*  background: $color--cloud-burst;
  display: block !important;
  border-radius: 0 !important;
  width: 52px !important; */
}

.saveElements {
  background-color: rgba($color--cloud-burst, 0.6);
  color: white;
  width: 52px;
  height: 33px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  border: none;
  transition: all 0.5s ease;

  /* background: $color--cloud-burst;
  display: block !important;
  border-radius: 0 !important;
  width: 52px !important; */
}

.leaflet-control-layers-expanded {
  width: 200px !important;
  height: 250px !important;
  background: black !important;
  color: white;
  border: 5px solid rgba(28, 110, 164, 0.5);
  border-radius: 40px 0px 0px 40px;
  -webkit-box-shadow: 12px 5px 10px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 12px 5px 10px 10px rgba(0, 0, 0, 0.4);
}

.leaflet-control-layers-scrollbar {
  height: 250px !important;
}

.mat-icon {
  color: aliceblue !important;
}

.icon--green {
  color: green !important;
}

.mat-icon-button {
  background-color: rgba($color--cloud-burst, 0.6) !important;
  transition: all 0.5s ease;
  }

  .mat-icon-button:hover {
    background-color: rgba($color--cloud-burst, 0.9) !important;
  }

.mat-button-focus-overlay {
  background-color: rgba($color--cloud-burst, 0.9) !important;
  // opacity: 1;
}


.leaflet-pm-toolbar .leaflet-pm-icon-polyline {
  background-image: url("../assets/icons/Group679.svg");
}

.leaflet-pm-toolbar .leaflet-pm-icon-polygon {
  background-image: url("../assets/icons/Group678.svg");
}

.leaflet-pm-toolbar .leaflet-pm-draw .leaflet-bar .leaflet-control {
  margin: 0;
}

.leaflet-left .leaflet-control {
  margin-left: 0 !important;
  margin-top: 0 !important;
  top: -30px;
  border-radius: 0 !important;
}
.leaflet-top {
  margin-top: 0 !important;
}

.leaflet-control-layers-toggle {
  background-color: rgba($color--cloud-burst, 1) !important;
}

.leaflet-top.leaflet-left {
  top: 230px !important;
  border-radius: 0 !important;
  height: 0px;
}

.leaflet-control-zoom {
  top: -66px;
  position: absolute;
}

.leaflet-pm-toolbar .button-container:last-child a {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.leaflet-pm-toolbar .button-container:first-child a{
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;

}
