<form [formGroup]="fileIssueForm" (ngSubmit)="onSubmit()" class="point-fields__container">
  <div class="point-fields__header">
    <h3 class="point-fields__label">Element fields</h3>
    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon"
      class="point-fields__toggle" (click)="onToggle()">
      <mat-icon>photo_size_select_small</mat-icon>
    </button>
  </div>
  <div class="point-fields__formgroup" *ngIf="createdElement; else noElement">
    <button mat-raised-button
      class="project-upload__button project-upload__button--background project-upload__button--confirm">Verify</button>
    <button mat-raised-button
      class="project-upload__button project-upload__button--background project-upload__button--issue">Observation</button>
    <button mat-raised-button
      class="project-upload__button project-upload__button--background project-upload__button--undefined">Undefined</button>
  </div>
  <ng-template #noElement>
    <div class="element-fields__unselected">
      <p>Tap on Elements to check tile</p>
    </div>
  </ng-template>
</form>
