@import "../../../../styles/variables";

.point-fields__container {
  display: flex;
  flex-flow: column wrap;
}

.point-fields__header {
  display: flex;
  flex-flow: row wrap;
  background: $color--east-bay;
  justify-content: space-between;
}


.point-fields__label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: $color--hawkes-blue;
  margin-left: 2rem;
}

.point-fields__formgroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 4%;
}

.element-fields__unselected {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.issue__form-field {
  width: 20%;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 2px !important;
  background-color: $color--east-bay;
  padding-left: 1.5em !important;
  padding-top: 0.4em !important;
}

.project-upload__button {
  opacity: 0.5;
  border-radius: 1px;
  width: 10em;
  height: 3.7em;
  margin: 0 1em 1em 0;
  background: none;
  border: none;
}

.project-upload__button--background {
  background-color: $color--hawkes-blue;
}

.project-upload__button--issue {
  border-bottom: 3px solid red;
}

.project-upload__button--confirm {
  border-bottom: 3px solid green;
}

.project-upload__button--undefined {
  border-bottom: 3px solid yellow;
}

.project-upload__button--color {
  color: white;
}

.point-fields__toggle {
  align-self: center;
}
