<div>
  <button type="button" mat-raised-button class="upload-form__button" (click)="fileInput.click()">Browse</button>
  <span class="project__form-field--font">{{file ? file.name : 'No file selected' }}</span>
  <input hidden #fileInput type="file" id="file" [accept]="fileType">
</div>
