.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;

}

.project-tab__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.component__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.8em;
}
