<div class="container">
  <div class="project-tab__container">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
        *ngFor="let link of navLinks"
        routerLinkActive #rla="routerLinkActive"
        class="project__form-field--font"
        [routerLink]="link.path"
        [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
  </div>
  <div class="component__container">
    <router-outlet></router-outlet>
  </div>
</div>
