<div class="point-fields__container">
  <div class="point-fields__header">
    <h3 class="point-fields__label">Element fields</h3>
    <button mat-icon-button color="primary" aria-label="Example icon-button with a heart icon"
      class="point-fields__toggle" (click)="onResize()">
      <mat-icon>photo_size_select_small</mat-icon>
    </button>
  </div>
  <div class="point-observation__formgroup">
    <form [formGroup]="issueForm" class="point-fields__container">
      <mat-form-field appearance="fill" class="observation__form-field">
        <mat-label class="project__form-field--font">Discipline</mat-label>
        <input class="project__form-field--color" matInput formControlName="discipline">
      </mat-form-field>
      <mat-form-field appearance="fill" class="observation__form-field">
        <mat-label class="project__form-field--font">subdiscipline</mat-label>
        <input class="project__form-field--color" matInput formControlName="subdiscipline">
      </mat-form-field>
      <!-- <form [formGroup]="disciplinesForm">
      <mat-form-field appearance="fill" class="issue__form-field">
        <mat-label class="project__form-field--font">Discipline</mat-label>
        <mat-select formControlName="discipline">
          <mat-option *ngFor="let discipline of disciplines" [value]="discipline">
            {{discipline}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="issue__form-field">
        <mat-label class="project__form-field--font">Subdiscipline</mat-label>
        <mat-select formControlName="subdiscipline">
          <mat-option
          *ngFor="let subdiscipline of getSubdiscipline()"
          [value]="subdiscipline.subdiscipline_name">
          {{subdiscipline.subdiscipline_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form> -->
      <mat-form-field appearance="fill" class="observation__form-field">
        <mat-label class="project__form-field--font">Classification</mat-label>
        <input class="project__form-field--color" matInput formControlName="classification">
      </mat-form-field>
      <mat-form-field appearance="fill" class="observation__form-field">
        <mat-label class="project__form-field--font">subclassification</mat-label>
        <input class="project__form-field--color" matInput formControlName="subclassification">
      </mat-form-field>
      <mat-form-field appearance="fill" class="observation__form-field">
        <mat-label class="project__form-field--font">Measurement ({{unit | async}})</mat-label>
        <input class="project__form-field--color" matInput formControlName="measurement">
      </mat-form-field>
      <mat-form-field appearance="fill" class="observation__form-field comment">
        <mat-label class="project__form-field--font">Comment</mat-label>
        <textarea class="project__form-field--color" matInput type="text" formControlName="comment"></textarea>
      </mat-form-field>
      <button type="submit" mat-raised-button *ngIf="!issue.accept"
        class="verify-button project-upload__button--background" (click)="onAccept()">Accept</button>
      <button type="submit" mat-raised-button *ngIf="!issue.accept"
        class="verify-button project-upload__button--background" (click)="onEdit()">Edit</button>
      <button type="submit" mat-raised-button
        class="verify-button project-upload__button--background" (click)="onRemove()">Remove</button>
    </form>
  </div>
</div>
