@import "../../../../../../styles/variables";

.point-fields__container {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10px;
}

.point-fields__header {
  display: flex;
  flex-flow: row wrap;
  background: $color--east-bay;
  justify-content: space-between;
  width: 100%;
}

.point-fields__label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: $color--hawkes-blue;
  margin-left: 2rem;
}

.verify-button {
  height: 50px;
  margin: 0.5em 1em 1em 0;
  width: 12%;
  background-color: $color--hawkes-blue;
}

.verify-button--observation {
  border-bottom: 4px solid red;
}

.verify-button--verified {
  border-bottom: 4px solid green;
}

.verify-button--undefined {
  border-bottom: 4px solid yellow;
}

.point-fields__toggle {
  align-self: center;
}

.point-fields__formgroup {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 4%;
  width: 100%;
}

.point-observation__formgroup {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.element-fields__unselected {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.observation__form-field {
  display: block;
  margin-right: 30px;
}

.comment {
  width: 50%;
}

.project__form-field--color {
  color: $color--input-disabled;
}

.verify-button {
}
