<div class="point-fields__container">
  <div class="point-fields__header">
    <h3 class="point-fields__label">Element fields</h3>
  </div>
  <div class="point-observation__formgroup">
    <form *ngIf="!firstCreation" [formGroup]="verificationForm">
      <mat-form-field appearance="fill" class="issue__form-field">
        <mat-label class="project__form-field--font">Discipline</mat-label>
        <mat-select formControlName="discipline">
          <mat-option *ngFor="let discipline of disciplines" [value]="discipline">
            {{discipline}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="issue__form-field">
        <mat-label class="project__form-field--font">Subdiscipline</mat-label>
        <mat-select formControlName="subdiscipline">
          <mat-option
            *ngFor="let subdiscipline of getSubdiscipline()"
            [value]="subdiscipline.subdiscipline_name">
            {{subdiscipline.subdiscipline_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <form [formGroup]="verificationForm" (ngSubmit)="onSubmit()"
      class="point-fields__container point-fields__container--margin">
      <mat-form-field appearance="fill" class="observation__form-field">
        <mat-label class="project__form-field--font">Classification</mat-label>
        <mat-select formControlName="classification">
          <mat-option *ngFor="let classification of classifications" [value]="classification.classification_name">
            {{classification.classification_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="observation__form-field">
        <mat-label class="project__form-field--font">Subclassification</mat-label>
        <mat-select formControlName="subclassification">
          <mat-option *ngFor="let subclassification of subclassifications"
            [value]="subclassification.classification_name">
            {{subclassification.classification_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="observation__form-field">
        <mat-label class="project__form-field--font">Measurement<form [formGroup]="measurementForm"></form>
        </mat-label>
        <input matInput formControlName="measurement">
      </mat-form-field>
      <mat-form-field appearance="fill" class="observation__form-field">
        <mat-label class="project__form-field--font">Measurement<form [formGroup]="measurementForm">
            <mat-select formControlName="measurement">
              <mat-option
                [value]="'meters'">
                meters
              </mat-option>
              <mat-option
                [value]="'inches'">
                inches
              </mat-option>
            </mat-select>
          </form>
        </mat-label>
      </mat-form-field>
      <mat-form-field appearance="fill" class="observation__form-field comment">
        <mat-label class="project__form-field--font">Comment</mat-label>
        <textarea matInput type="text" formControlName="comment"></textarea>
      </mat-form-field>
      <button type="submit" mat-raised-button
        class="verify-button project-upload__button--background" (click)="onSubmit()">Insert</button>
    </form>
  </div>
</div>
