@import "../../../../styles/variables";
.leaflet-map {
  position: absolute;
  top: 0;
  background:black;
}
.sidebar-button {
  width: auto;
  height: 20vh;
  align-self: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
  background: $color--cloud-burst;
  .button-icon {
    background: url("../../../../assets/icons/ALERTPointlist.svg") no-repeat;
    background-size: contain;
    height: 32px;
    transition: all 0.5s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.sidebar-container {
  width: 22.6vw;
  height: 100%;
}

.hide-minimap__button {
  position: absolute !important;
  right: 0;
  top: 0;
  z-index: 1000;
}

.rotate-tooltip {
  margin: -10px !important;
  margin-top: 8px !important;
  height: 13px !important;
  border-radius: 0 !important;
  border: 1px solid #e6e6e6  !important;
  color: #e6e6e6;
  background:  #333333;
}


.leaflet-tooltip.my-labels {
  background-color: transparent;
  border: transparent;
  box-shadow: none;
  font-weight: lighter;
  font-size: 20px;
  color: white;
}

.text-background {
  text-align:center;
  font-size: 0px;
}

.text-background-1 {
  text-align:center;
  font-size: 2px;
}

.text-background-2 {
  text-align:center;
  font-size: 9px;
}

.text-background-3 {
  text-align:center;
  font-size: 12px;
}

.measurement-background {
  color:aqua;
  font-weight:bold;
  text-align:center;
  background: black;
}

.mat-snack-bar-container {
  text-align: center;
}

.mat-simple-snackbar {
  display: inline-block !important;
}

.snackbar-primary {
  background:green !important;
}

.snackbar-warn {
  background: indianred !important;
}