<div class="row-container">
  <div class="planning-container"
    [style.width]="toggledSidebar? '88%': '100vw'">
    <div class="controls-container" [style.margin-bottom]="resize ? '0px' : '160px'"
      [style.width]="toggledSidebar? '70vw': '90vw'">
      <div class="ruler" #ruler id="ruler">
        <button mat-icon-button
        aria-label="zoom out"
        matTooltip="Zoom Out"
        matTooltipPosition="right"
        matTooltipClass="rotate-tooltip"
        class="toggleElements"
        (click)="zoomOut()">
        <!-- (click)="this.screenshot = true; screenshotIssues()"> -->
        <mat-icon>zoom_out_map</mat-icon>
      </button>
        <button mat-icon-button
          matTooltip="Rotate Map"
          matTooltipPosition="right"
          matTooltipClass="rotate-tooltip"
          aria-label="rotate elements"
          class="toggleElements"
          (click)="rotate()">
          <mat-icon>autorenew</mat-icon>
        </button>
        <button
          mat-icon-button
          aria-label="save elements"
          matTooltip="Save"
          matTooltipPosition="right"
          matTooltipClass="rotate-tooltip"
          class="toggleElements"
          (click)="saveElements()">
          <mat-icon>save_alt</mat-icon>
        </button>
        <button mat-icon-button
          aria-label="toggle elements"
          matTooltip="Toggle Elements"
          matTooltipPosition="right"
          matTooltipClass="rotate-tooltip"
          class="toggleElements"
          (click)="toggleElements()">
          <!-- (click)="this.screenshot = true; screenshotIssues()"> -->
          <mat-icon>priority_high</mat-icon>
        </button>
      </div>
      <div leaflet class="leaflet-map"
        [style.height]="resize ? '100vh' : '69%'"
        [style.width]="toggledSidebar ? '77.5%' : '96.5%'"
        [leafletOptions]="options"
        (leafletMapReady)="onMapReady($event)">
      </div>
    </div>
    <div class="bottom-container" [style.width]="toggledSidebar? '77vw' : '97vw'" *ngIf="!resize">
      <div class="define-issue">
        <app-main-issue-view
          (createElement)="onElementCreated($event)"
          (updateElement)="onElementUpdated($event)"
          (deleteElement)="onElementDeleted($event)"
          (acceptElement)="onElementAccepted($event)"
          (resize)="onResize()"
          (openMinimap)="onOpenMinimap()"></app-main-issue-view>
      </div>
      <div class="minimap" id='minimap1' *ngIf="!toggledSidebar && showMinimap">
        <mat-spinner *ngIf="loadingMinimap" class="loading-minimap"></mat-spinner>
        <button mat-mini-fab color="primary" class="hide-minimap__button"
          (click)="showMinimap = !showMinimap; toggleMinimap()">
          <mat-icon>branding_watermark</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="sidebar-button" [style.width]="toggledSidebar ? '50px' : 'auto'" *ngIf="!toggledSidebar">
    <button mat-button color="primary" aria-label="toggle issues sidebar" class="button-icon"
      (click)="toggledSidebar = !toggledSidebar; this.resize = !this.resize; onResize()">
      <div class="sidebar-icon"></div>
    </button>
  </div>
  <div class="sidebar-container" *ngIf="toggledSidebar">
    <app-issues-sidebar [_map]="map" (onSidebarClose)="toggledSidebar = false;" (onScreenshot)="screenshot = true; ScreenshotIssues(0)"></app-issues-sidebar>
  </div>
</div>
