<app-observation-issue-edit
  *ngIf=" !!issue.verification && ($any(issue?.verification) !== 'undefined' && $any(issue?.verification) !== 'verified'); else issueEdit"
  [issue]="issue"
  (updateElement)="onElementUpdated($event)">
</app-observation-issue-edit>
<ng-template #issueEdit>
  <app-issue-edit
    [issue]="issue"
    (createElement)="onElementCreated($event)" (updateElement)="onElementUpdated($event)">
  </app-issue-edit>
</ng-template>
