<form class="project__container" [formGroup]="openProjectForm" (ngSubmit)="onSubmit()">
  <h1 class="project__label">Open an existing Project</h1>
  <mat-form-field appearance="fill" class="project__form-field">
    <mat-label class="project__form-field--font">Plan ID</mat-label>
    <input
      matInput
      placeholder="Ex. 12345"
      type="text"
      formControlName="planId">
    <div *ngIf="planId.touched && planId.invalid">
      <mat-error *ngIf="planId.errors.required">
        Plan ID is required
      </mat-error>
      <mat-error *ngIf="planId.errors.minlength">
        Plan ID should be minimum {{ planId.errors.minlength.requiredLength }} characters
      </mat-error>
      <mat-error *ngIf="planId.errors.IsPlanIdExist">
        Plan ID does not exist
      </mat-error>
    </div>
  </mat-form-field>
  <div class="upload-form__container">
    <app-file-upload formControlName="file" [fileType]="'.json'"></app-file-upload>
  </div>
  <div class="upload-form__container" style="margin-top: 10px;">
    <app-file-upload formControlName="dxfFile" [fileType]="'.dxf'"></app-file-upload>
  </div>
  <section class="conversion-progress">
    <mat-progress-bar aria-label="progress" mode="determinate"
      value="{{uploadResponse.message}}"></mat-progress-bar>
  </section>
  <div class="project-upload__container">
    <button type="button" mat-raised-button
      class="project-upload__button project-upload__button--color">Advanced</button>
    <button type="submit" mat-raised-button
      class="project-upload__button project-upload__button--background"
      [disabled]="!openProjectForm.status"
      >Open</button>
  </div>
</form>
